@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght,WONK@9..144,100..900,0..1&display=swap');


:root {
      --SoftRed: #f1998e;
      --Yellow: #efdf80;
      --MutedGreen: #2C7566;
      --HeroBlue: #3fbfff;
      --GreyBlue: #76cdf5;

      --White: #ffffff;
      --TransparentWhite: #ffffff91;
      --Black: #000;
      --BlueBlack: #24303E;
      --Grey: #A7AAAD;
      --MediumGrey:  #808397;
      --DarkGrey: #5B636D;

      --BarlowRegular:  600 1.125rem/2rem "Barlow",sans-serif;
      --BarlowLetterSpacing: -0.00806rem;
      --BarlowSmall:   600 0.875rem/1.5625rem "Barlow",sans-serif;
  

}

*,
*::before,
*::after {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

html,
body {
      height: 100%;
}

.main {
      height: 100vh;
      width: 100vw;
}


/* //////HERO SECTION//////// */

.hero {
      height: 75vh;
      overflow: hidden;
      position: relative;
}

/* provides seamless background color */
.hero::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--HeroBlue);
      z-index: -100; 
}

.hero img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: auto;
      object-fit: contain;
      transform-origin: bottom center;
      transform: scale(.7);
      z-index: -10;
}

.hero img.arrow {
      position: absolute;
      left: 50%;
      bottom: 12rem;
      transform: translateX(-50%);
      z-index: 10;
      animation: floatUpDown 2s ease-in-out infinite;
      cursor: pointer;
      width: 1.875rem;
      height: 6.71775rem;
}

.hero img.logo {
      height: 2rem;
      z-index: 10; 
      position: relative; 
      height: 2rem;
      width: fit-content;
}

.hero .title {
      margin-top: 6rem;
      color: var(--White);
      text-align: center;
      font-family: "Fraunces";
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.54688rem;
      text-transform: uppercase;
}

/* //////NAV SECTION//////// */

.nav-container {
      color: var(--White);
      margin: 1rem;
      height: 2rem;
}

.nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

ul {
      display: flex;
      list-style: none;
      justify-content: flex-end;
      align-items: center;
}

.nav li  {
      text-decoration: none;
      margin: 0 1rem;
      color: var(--White);
      font: var(--BarlowRegular);
      letter-spacing: var(--BarlowLetterSpacing)
}

li.active {
      width: 8.75rem;
      height: 3.5rem;
      border-radius: 1.75rem;
      padding: .2rem .2rem;
      background: var(--White);
      color: var(--Black);
      display: flex;
      align-items: center;
      justify-content: center;
}

li.active:hover{
      cursor: pointer;
      background: var(--GreyBlue);
      border-radius: 1.75rem;
      padding: .2rem .2rem;
      color: var(--White);
      cursor: pointer;
      transition: all ease .3s;
}

/* //////GRID SECTION//////// */

.grid-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto auto auto auto;
}

.grid-container > :nth-child(1) {
      grid-column: span 6 / span 6;
}

.grid-container > :nth-child(2) {
      grid-column: span 6 / span 6;
      grid-column-start: 7;
}

.grid-container > :nth-child(3) {
      grid-column: span 6 / span 6;
      grid-row-start: 2;
}

.grid-container > :nth-child(4) {
      grid-column: span 6 / span 6;
      grid-column-start: 7;
      grid-row-start: 2;
}

.grid-container > :nth-child(5) {
      grid-column: span 6 / span 6;
      grid-row-start: 3;
}

.grid-container > :nth-child(6) {
      grid-column: span 6 / span 6;
      grid-column-start: 7;
      grid-row-start: 3;
}

.grid-container > :nth-child(7)  { 
      grid-column: span 12 / span 12;
      grid-row-start: 4;
}

.grid-container > :nth-child(8) {
      grid-column: span 3 / span 3;
      grid-row-start: 5;
}

.grid-container > :nth-child(9) {
      grid-column: span 3 / span 3;
      grid-column-start: 4;
      grid-row-start: 5;
}

.grid-container > :nth-child(10) {
      grid-column: span 3 / span 3;
      grid-column-start: 7;
      grid-row-start: 5;
}

.grid-container > :nth-child(11) {
      grid-column: span 3 / span 3;
      grid-column-start: 10;
      grid-row-start: 5;
}

.item{
      height: 100%;
}

/* //////Row 1 & 2//////// */

img.item-image {
      height: 100%;
}


.text-box-container {
      padding: 8rem 8.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: left;
}

.title {
      color: var(--BlueBlack);
      font-family: "Fraunces";
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.01788rem;
}

.copy {
      color: var(--MediumGrey);
      font: var(--BarlowRegular);
      letter-spacing: var(--BarlowLetterSpacing)

}

.link {
      color: var(--BlueBlack);
      font-family: "Fraunces";
      font-size: 0.9375rem;
      font-style: normal;
      font-weight: 900;
      line-height: 1.5625rem; /* 166.667% */
      letter-spacing: 0.0625rem;
      text-transform: uppercase;
}

.link.yellow{
      box-shadow: inset 0 -0.7em 0 var(--Yellow);
      width: fit-content;
}

.link.red {
      box-shadow: inset 0 -0.7em 0 var(--SoftRed);
      width: fit-content;
}

.link:hover{
      cursor: pointer;
      transition: all ease .3s;
      filter: saturate(1.9)
}

/* //////Row 3//////// */

.image-with-text-container {
      position: relative
      
}

.image-with-text-container .text-container{
      position: absolute;
      top: 70%;     
      left: 50%;     
      transform: translate(-50%, -50%); 
      width: 47%;
}

img.image-with-text {
      z-index: -1;
}

.image-with-text-container .title {
      color: var(--TransparentWhite);
      filter: brightness(0);
      text-align: center;
      font-family: "Fraunces";
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: -0.0125rem;
      margin-bottom: 1.5rem;
     
}

.image-with-text-container .copy {
      color: var(--TransparentWhite);
      filter: brightness(0);
      text-align: center;
      font-family: "Barlow";
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.6875rem; /* 168.75% */
      letter-spacing: -0.00713rem;
      position: absolute;
}

/* //////Row 4//////// */

.profile-row.item {
      height: 46rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
}

.item.profile{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      background-color: var(--White);
}

.profile-row .title {
      color: var(--Grey);
      text-align: center;
      font-family: "Fraunces 9pt Soft";
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: 0.3125rem;
      margin-bottom: 2rem;
}

.testimonial-container {
      display: flex;
      flex-direction: row;
}

.profile.item{
      width: 21.5rem;
      height: 26rem;
      margin: 0 1.5rem;
}

.profile .image{
      width: 4.5rem;
      height: 4.5rem;
      flex-shrink: 0;
      border-radius: 50%;
}

.profile .text{
      color: var(--DarkGrey);
      text-align: center;
      font: var(--BarlowRegular);
      letter-spacing: var(--BarlowLetterSpacing)
}

.profile .name{
      color: var(--BlueBlack);
      text-align: center;
      font-family: "Fraunces";
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      letter-spacing: var(--BarlowLetterSpacing)
}

.author .job-title{
      color: var(--Grey);
      text-align: center;
      font: var(--BarlowSmall);
      letter-spacing: -0.00625rem;
      margin-top: .5rem;
}

/* //////FOOTER SECTION//////// */

.footer{
      background: #90D4C6;
      height: 21.875rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      background-blend-mode: color;
}

.footer .logo {
      width: 10.625rem;
      height: 2.0625rem;
      fill: var(--MutedGreen);
      background-blend-mode: color;
      -webkit-mask-image: url(/src/components/junior/AgencyLandingPage/images/logo.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      background-color: var(--MutedGreen);
}

ul.footer-nav-list {
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      gap: 3.5625rem;
}

.footer-nav-list li {
      color: var(--MutedGreen);
      font: var(--BarlowRegular);
      letter-spacing: -0.00806rem;
}

ul.socials-list{
      display: inline-flex;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;
}

.footer-nav-list li:hover{
      color: var(--White);
      cursor: pointer;
      transition: all ease .2s;
}


img.social-icon:hover{
      filter: brightness(0) invert(1);
      cursor: pointer;
      transition: all ease .2s;

}


/* tablet */
@media (max-width: 1040px) {
      .main {
            flex-direction: column;
            padding: 2.5rem;
            border: solid green 4px;
      }

	
}

/* mobile */
@media (max-width: 768px) {
      .main {
		
            border: solid rgb(128, 0, 87) 4px;
      }
}



@keyframes floatUpDown {
      0% {
            transform: translateX(-50%) translateY(0);
      }
      50% {
            transform: translateX(-50%) translateY(-25px);
      }
      100% {
            transform: translateX(-50%) translateY(0);
      }
}
              