.image-and-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: -1.375rem;
	align-self: stretch;
}

.card img {
	display: flex;
	width: 16rem;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	align-self: stretch;
	border-radius: 1.5rem;
}

.product-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.25rem;
	align-self: stretch;
}

.category {
	color: var(--Rose500, #87635a);
	font: var(--font-body);
}

.name {
	color: var(--Rose900, #260f08);
	font: var(--font-normal);
}

.price {
	color: var(--Red, #c73b0f);
	font: var(--font-normal);
}

/* Responsive */
/* tablet */
@media (max-width: 1040px) {
	.card img {
		height: 13.25rem;
		width: auto;
	}

}

/* mobile */
@media (max-width: 768px) {
	.card img {
		height: 13.25rem;
		width: auto;
	}
}
