@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@200;400;600&family=Space+Grotesk:wght@300..700&display=swap");

:root {
	--Grey-500: hsl(234, 12%, 34%);
	--Grey400: hsl(212, 6%, 44%);
	--White: hsl(0, 0%, 100%);
	--Red: hsl(0, 78%, 62%);
	--Cyan: hsl(180, 62%, 55%);
	--Orange: hsl(34, 97%, 64%);
	--Blue: hsl(212, 86%, 64%);

	--font: "Poppins", san-sarif;
	--font-light: 200;
	--font-regular: 400;
	--font-bold: 600;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: white;
}

.root {
	min-width: 1280px;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}

.title-container {
	font-family: var(--font);
	color: var(--Grey-500);
	width: 35vw;
	height: 29vh;
	margin: 0 auto;
	padding-top: 5vh;
}

.title-container .top-title {
	font-size: 1.9em;
	font-weight: var(--font-light);
	line-height: 140%;
	letter-spacing: 0.25px;
}
.title-container .bottom-title {
	font-size: 2em;
	font-weight: var(--font-bold);
	line-height: 140%;
	letter-spacing: 0.25px;
}
.title-container .subtitle {
	font-size: 0.9rem;
	letter-spacing: 0;
}

.sections-container {
	width: 80vw;
	height: 71vh;
	margin: 0 auto;
	display: grid;
	grid-auto-columns: 1fr 2fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
		"cell-1 cell-2 cell-4"
		"cell-1 cell-3 cell-4";
}

#cell-1 {
	grid-area: cell-1;
	align-self: center;
	border-top: solid var(--Cyan);
}
#cell-2 {
	grid-area: cell-2;
	border-top: solid var(--Red);
}
#cell-3 {
	grid-area: cell-3;
	border-top: solid var(--Orange);
}
#cell-4 {
	grid-area: cell-4;
	align-self: center;
	border-top: solid var(--Blue);
}

.section {
	width: 350px;
	height: 250px;
	text-align: left;
	box-shadow: 0px 4px 10px 4px hsl(178deg 6% 44% / 41%);
	border-radius: 10px;
	padding: 30px;
}

.section .title {
	font-size: 1.2rem;
	font-weight: var(--font-bold);
	padding: 0;
	margin-bottom: 10px;
	text-transform: capitalize;
	letter-spacing: 0;
	line-height: 135%;
}

.section .description {
	font-size: 0.8rem;
	letter-spacing: 0;
	line-height: 160%;
	padding: 0;
	color: var(--Grey400);
}

.section .image {
	display: flex;
	justify-content: end;
	align-items: flex-end;
	height: 60%;
}

/* Responsive */
/* tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	.root {
		min-width: 1040px;
		width: 780px;
	}
	.title-container {
		width: 80vw;
	}
	.sections-container {
		height: 85vh;
		width: 100%;
		gap: 1rem;
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"cell-1 cell-1"
			"cell-2 cell-3"
			"cell-4 cell-4";
	}
	#cell-1 {
		grid-area: cell-1;
		align-self: center;
		justify-self: center;
	}
	#cell-2 {
		grid-area: cell-2;
		align-self: center;
		justify-self: right;
	}
	#cell-3 {
		grid-area: cell-3;
		align-self: center;
		justify-self: left;
	}
	#cell-4 {
		grid-area: cell-4;
		align-self: center;
		justify-self: center;
	}
	.section {
		width: 314px;
		height: 250px;
	}
}

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.root {
		min-width: 350px;
		max-height: 900px;
	}

	.title-container {
		padding-top: 3vh;
		margin-bottom: 3vh;
		width: 90vw;
		height: 20vh;
	}

	.title-container .top-title {
		font-size: 1.5rem;
		line-height: 160%;
	}

	.title-container .bottom-title {
		font-size: 1.5rem;
	}

	.title-container .subtitle {
		margin-top: 2px;
	}

	.sections-container {
		width: 85vw;
		grid-template-rows: auto;
		grid-template-areas: "cell-1" "cell-2" "cell-3" "cell-4";
		grid-gap: 20px;
	}

	#cell-1 {
		grid-area: cell-1;
		align-self: center;
		justify-self: center;
	}

	#cell-2 {
		grid-area: cell-2;
		align-self: center;
		justify-self: right;
	}

	#cell-3 {
		grid-area: cell-3;
		align-self: center;
		justify-self: left;
	}

	#cell-4 {
		grid-area: cell-4;
		align-self: center;
		justify-self: center;
	}

	.section {
		width: 85vw;
		padding: 20px;
	}

	.section .image {
		height: 50%;
	}
}
