.modal-container {
	background: rgba(0, 0, 0, 0.6);
	display: none;
	position: fixed;
	inset: 0;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: flex;
	width: 37rem;
	padding: 2.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
	flex-shrink: 0;
	border-radius: 0.75rem;
	background: var(--White);
	animation: modalopen 1s;
}

@keyframes modalopen {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.show-modal {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	align-self: stretch;
}

.title-info img {
	height: 3rem;
	width: 3rem;
}

.title-info .title {
	color: var(--Rose900);
	font: var(--font-heading);
}

.title-info .sub-title {
	color: var(--Rose500);
	font-family: "RedHat";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.confirmed-items {
	display: flex;
	padding: 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	align-self: stretch;
	border-radius: 0.5rem;
	background: var(--Rose50);
}

.confirmed-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	border-bottom: var(--Rose100) solid 1px;
	padding-bottom: 1rem;
}

.confirmed-item .item {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.confirmed-item .item img {
	width: 3rem;
	height: 3rem;
	border-radius: 0.25rem;
}

.item .item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.5rem;
}

.item .amount {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
}

.item .name {
	color: var(--Rose900);
	font: var(--font-body-bold);
}

.item .quantity {
	color: var(--Red);
	font: var(--font-body-bold);
}

.item .price {
	color: var(--Rose500);
	font: var(--font-body);
}

.confirmed-item .total-price {
	color: var(--Rose900);
	font: var(--font-normal);
}

.order-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.order-total .text {
	color: var(--Rose900);
	font: var(--font-body);
}

.order-total .total {
	color: var(--Rose900);
	font: var(--font-title);
}

.button-container {
	width: 100%;
}

.modal button {
	background-color: var(--Red);
	color: var(--White);
	margin: 0;
	width: 100%;
}

/* Responsive */
/* tablet */
@media (max-width: 1040px) {
}

/* mobile */
@media (max-width: 768px) {
	.modal {
		width: 100%;
	}

	.title {
		text-align: left;
	}
}
