button {
	border-radius: 62.4375rem;
	border: 1px solid var(--Rose400, #ad8a85);
	background: var(--White, #fff);
	margin-top: -1.5rem;
	color: var(--Rose900);
	font: var(--font-body-bold);
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
}

button img {
	width: 1.25rem;
	height: 1.25rem;
	flex-shrink: 0;
}

button span {
	width: 1.25rem;
	height: 1.25rem;
}

button:hover:not(:focus) {
	border: 1px solid var(--Red);
	color: var(--Red);
	background-color: white;
}

button.inactive-button:hover {
	border: 1px solid var(--Red);
	color: var(--Red);
	background-color: white;
}

.quantity-button {
	background-color: var(--Red);
	color: var(--White);
	display: flex;
	justify-content: space-around;
}

button.quantity-button:hover {
	background-color: var(--Red);
	cursor: default;
}

button.quantity-button span:hover {
	cursor: pointer;
}

/* Responsive */
/* tablet */
@media (max-width: 1040px) {
	button.quantity-button span img {
		width: 1.25rem;
		height: 1.25rem;
	}

	button {
		padding: 10px 0px;
	}
}
