@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap");

:root {
	--Cyan-600: hsl(192, 37%, 48%);
	--Cyan-300: hsl(192, 90%, 77%);
	--Purple-600: hsl(268, 34%, 53%);
	--Purple-300: hsl(268, 100%, 86%);
	--Slate-900: hsl(240, 21%, 20%);
	--Slate-600: hsl(240, 10%, 57%);
	--Slate-300: hsl(240, 18%, 85%);
	--White: hsl(0, 0%, 98%);

	--font: "Red Hat Display", sans-serif;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: rgba(255, 255, 255, 0);
}

.root {
	min-width: 1280px;
	height: 100vh;
	width: 100vw;
	margin: 0 auto;
}
#tablet {
	display: none;
}
.section {
	width: 100%;
	position: relative;
	box-shadow: none;
	border-radius: 0;
}

.nav {
	width: 100%;
	height: 12vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.nav img {
	height: 28px;
}

/********* HERO SECTION *********/
.hero {
	height: 54vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.hero-left {
	margin-left: -30px;
}
.hero-right {
	margin-right: -30px;
}

.hero .text-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 60%;
	padding: 0 12%;
	text-align: center;
}

.hero .text-content .title {
	font-family: var(--font);
	text-transform: none;
	margin-top: 14%;
	line-height: 110%;
	letter-spacing: 0;
	font-size: 4rem;
	color: var(--Slate-900);
	font-weight: 900;
}

.hero .text-content .sub-title {
	font-size: 1.125rem;
	line-height: 110%;
	color: var(--Slate-600);
}

.hero .text-content .buttons-container {
	margin-bottom: 14%;
	display: flex;
}

/********* MAIN SECTION *********/
.main.section {
	height: 96vh;
	padding: 0;
}

.main.section .main-content {
	margin: 2% 11% 4% 11%;
}

.main.section .main-content .image-collage {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0;
}

.main.section .main-content .image-collage img {
	height: 225px;
	border-radius: 8px;
}

.main.section .main-content .text-content {
	display: flex;
	flex-direction: column;
	padding: 0 30%;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.main.section .main-content .text-content .title {
	font-weight: 800;
	font-size: 1rem;
	line-height: 110%;
	letter-spacing: 4px;
	color: var(--Cyan-600);
	text-transform: uppercase;
	margin: 0;
}

.main.section .main-content .text-content .sub-title {
	font-weight: 800;
	font-size: 2.5rem;
	line-height: 110%;
	text-align: center;
	color: var(--Slate-900);
	margin-bottom: 20px;
}

.main.section .main-content .text-content .content {
	font-size: 1.125rem;
	line-height: 110%;
	text-align: center;
	color: var(--Slate-600);
}

.number {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block-end: 2rem;
	position: relative;
	inset-block-end: -3.6rem;
	z-index: 3;
}
/******** Footer ********/

.footer.section {
	height: 330px;
	padding: 0;
	z-index: 1;
	position: relative;
	background-color: var(--Cyan-600);
	/* fill: var(--Cyan-600); */
	background-blend-mode: overlay;
	background-image: url("./assets/images/desktop/image-footer.jpg");
	background-size: cover;
}

.footer.section .content {
	background-color: hsl(192deg 37% 48% / 82%);
	height: 100%;
}

.footer .number {
	position: relative;
	z-index: 10;
}

.footer .number .rectangle {
	width: 100%;
	border: none;
}

.footer .number .circle {
	margin-top: -24px;
}

.footer .text-content {
	z-index: 10;
	background: none;
	display: flex;
	align-items: center;
	padding: 0 10%;
	width: 100%;
	height: 77%;
}

.footer .text-content .title {
	font-size: 2.5rem;
	width: 40%;
	color: var(--White);
}

.footer .text-content .sub-title {
	width: 30%;
	color: var(--White);
}

.footer .text-content button {
}

/******** COMPONENTS ********/

/******** NUMBER */
.number {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.number .rectangle {
	height: 60px;
	width: 1px;
	margin: 0px 24.5px;
	border: solid 1px var(--Slate-300);
	background-color: white;
}

.number .circle {
	height: 49px;
	width: 49px;
	border-radius: 50%;
	border: solid 1px var(--Slate-300);
	color: var(--Slate-600);
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	background: white;
}

/******** BUTTON */
button {
	width: 170px;
	height: 50px;
	border-radius: 30px;
	border: none;
	color: white;
	margin: 0 20px 20px 30px;
	font-family: var(--font);
	font-weight: 900;
	transition: 800ms;
}

button.cyan:hover {
	background-color: #71c0d4;
}

button.purple:hover {
	background-color: #b18bdd;
}

button.cyan span {
	color: var(--Cyan-300);
	background-color: inherit;
}

button.purple span {
	color: var(--Purple-300);
	background-color: inherit;
}

.cyan {
	background-color: var(--Cyan-600);
}
.purple {
	background-color: var(--Purple-600);
}

/* Responsive */
/* tablet */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
	* {
		border: solid red;
	}
	#tablet {
		display: inline;
	}
	img#tablet {
		height: auto;
		width: 100%;
	}
	.hero {
		height: 73vh;
		display: flex;
		flex-direction: column;
	}
	.hero-left, .hero-right {
		display: none;
	}
}

/* mobile */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
