.cart img {
	width: 8rem;
	height: 8rem;
}

.cart-container {
	display: flex;
	width: 30%;
	padding: 1.5rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
	background-color: var(--White);
	border-radius: 0.75rem;
}

.cart-title-text {
	color: var(--Red, #c73b0f);
	font-family: "RedHat";
	font-size: var(--font-size-text-preset-2, 1.5rem);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-align: left;
}

.cart {
	/* width: 100%; */
	display: flex;
	width: 24rem;
	padding: var(--spacing-300, 1.5rem);
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-300, 1.5rem);
}

.added-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	border-bottom: solid 1px var(--Rose100);
	padding-bottom: 1rem;
}

.item-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--spacing-100, 0.5rem);
}

.item-info .name {
	color: var(--Rose900);
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.item-info .quantity-and-price {
	display: flex;
	align-items: flex-start;
	gap: var(--spacing-100, 0.5rem);
}

.quantity-and-price .quantity {
	color: var(--Red);
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.quantity-and-price .price {
	color: var(--Rose500);
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.quantity-and-price .total {
	color: var(--Rose500);
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

button.remove-button {
	height: 1.125rem;
	width: 1.125rem;
	margin: 0;
}

.order-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.order-total .text {
	color: var(--Rose900);
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.order-total .total {
	color: var(--Rose900);
	font-family: "RedHat";
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.carbon-info-container {
	display: flex;
	padding: 1rem;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	align-self: stretch;
	background-color: var(--Rose50);
}

.carbon-nuetral-info {
	color: var(--Rose900);
	font-size: 0.875em;
	font-family: "RedHat";
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.carbon-info-container img {
	height: 1.125rem;
	width: 1.125rem;
}

button.confirm {
	background-color: var(--Red);
	color: var(--White);
	margin: 0;
	display: flex;
	align-self: stretch;
}

.cart-empty-text {
	color: var(--Rose-500, #87635a);
	text-align: center;
	font-family: "RedHat";
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.empty-placeholder {
	display: flex;
	padding: 1rem 0rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-200, 1rem);
	align-self: stretch;
}
