@font-face {
	font-family: "WorkSans";
	font-style: normal;
	font-weight: 100 900;
	src: url("./assets/fonts/WorkSans-VariableFont_wght.ttf");
}

:root {
	--White: #ffffff;
	--Black: #000000;
	--Purple950: #301534;
	--Purple600: #886990;
	--Purple100: #f8eeff;
	--Violet600: #ad28eb;

	--spacing-8px: 8px;
	--spacing-16px: 16px;
	--spacing-24px: 24px;
	--spacing-32px: 32px;
	--spacing-40px: 40px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

.main {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("./assets/images/background-pattern-desktop.svg");
	background-repeat: no-repeat;
	background-color: var(--Purple100);
}

.card {
	width: 35.3rem;
	padding: var(--spacing-40px, 2.5rem);
	gap: var(--spacing-400, 1rem);
	border-radius: 1rem;
	background: var(--colors-white, #fff);
	box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
	display: flex;
	flex-direction: column;
}

h1 {
	color: var(--colors-purple-950, #301534);
	font-feature-settings: "liga" off, "clig" off;
	font-family: "WorkSans", "sans-serif";
	font-size: 3.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: 4.125rem;
	display: flex;
	align-items: center;
	gap: var(--spacing-24, 2rem);
}

.faq-list > div:not(:last-child) {
	border-bottom: 1px solid var(--Purple100);
	padding-bottom: var(--spacing-16px, 1rem);
	margin-bottom: var(--spacing-16px, 1rem);
}

.faq-question-container:hover > .faq-question {
	color: var(--Violet600);
}

.faq-question-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
}

.faq-question {
	color: var(--colors-purple-950, #301534);
	font-feature-settings: "liga" off, "clig" off;
	font-family: "WorkSans", "sans-serif";
	font-size: 1.1rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.3125rem;
}

.faq-answer {
	color: var(--colors-purple-600, #8b6990);
	font-feature-settings: "liga" off, "clig" off;
	font-family: "WorkSans", "sans-serif";
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.5rem;
	text-align: left;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease;
}

.faq-answer.open {
	max-height: 300px;
}

.faq-question-container:focus > .faq-question {
	color: var(--Violet600);
}

.faq-question-container:focus {
	outline: none;
}

@media (max-width: 480px) {
	h1 {
		font-size: 2rem;
	}
	.card {
		margin: 1.5rem;
	}
	.faq-question {
		display: flex;
		align-items: center;
		text-align: left;
		gap: var(--spacing-300, 1.5rem);
	}
	.faq-list > div:not(:last-child) {
		padding-bottom: var(--spacing-24px, 2rem);
		margin-bottom: var(--spacing-24px, 2rem);
	}
}

img {
	display: block;
	height: auto;
}
