*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	font-family: inherit;
}

/* Make media scale down instead of overflowing */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

/* Links/buttons reset */
a {
	text-decoration: none;
	color: inherit;
}
button {
	background: none;
	border: none;
	cursor: pointer;
	font: inherit;
}
